#about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	backdrop-filter: blur(20px);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	width: 700px;
	margin: 30px 410px;
	color: #ffffff;
	/* color: #162938; */
}

#about h1 {
	color: #ffffff;
}

#about h2 {
	margin: 10px;
}

#about div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 30px 50px;
}

#about strong {
	font-style: italic;
	color: rgb(84, 229, 84);
}

#about_text {
	width: 500px;
	/* border: 2px red dashed; */
	font-size: 20px;
	color: #162938;
	text-align: justify;
}

#team {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* border: 2px red dashed; */
	width: 500px;
}

#about span {
	color: #162938;
	font-size: 20px;
	font-weight: 900;
}

#about .socials {
	display: flex;
	flex-direction: row;
	margin: 0px;
}
